/* body {
  font-family: "Open Sans", sans-serif;
  margin: 0%;
} */
/* h1 {
  color: #fb5404;
  font-size: 350%;
  text-align: center;
}

p {
  font-size: 18px;
} */

a {
  text-decoration: none;
  color: #868482de;
}
a:hover{
  color: #fb5404
}
.painelvideoDiv {
  border-top: 1px black;
    background-color: #fff;

  /* background-color: rgba(206, 204, 204, 0.966); */
}

.text-apre {
  background-color: #fff;
  width: 50%;
  justify-content: center;
  margin: auto 50px;
  padding: 10px;
  text-align: justify;
  font-size: 18px;
  color: #252525
}
.img-apre {
  margin: 10px auto;
  padding: 10px;
}

.apresent2Div {
  width: 80%;
  padding: 30px;
  margin-left: 70px;
  text-align: center;
  font-size: 110%;
}

.imgslide {
  background-color: #b9b9;
  padding: 150px;
}
.rodape {
  display: flex;
  flex-wrap: wrap;
  color: #929496;
  font-weight: bold;
  font-size: 15px;
}

.rodape2 {
  text-align: center;
}

.pagprof {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px;
  font-size: 20px;
  color: #605e5e;
  font-weight: bold;
}

.slogan {
  text-align: center;
}
.cx-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
input,
select,
textarea {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}
.cursor {
  cursor: pointer;
}
.red {
  color: red;
}
.cx-margin {
  margin-right: 200px;
}
.cx-margin2 {
  margin-right: 220px;
}
.conteiner {
  background-color: #444444;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10{
  padding-left:10px;
  padding-right: 10px;
}

.px-20{
  padding-left:20px;
  padding-right: 20px;
}
.px-40{
  padding-left:40px;
  padding-right: 40px;
}
.px-50{
  padding-left:50px;
  padding-right: 50px;
}
.px-60{
  padding-left:60px;
  padding-right: 60px;
}

.boldwhite {
  color: #fff;
  font-weight: bold;
}
.cx-logo {
  text-align: center;
}
.center {
  justify-content: center;
}
.f-margin {
  margin: 13px auto;
}

.english {
  display: none;
}

.justify-between{
  justify-content: space-between;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

